
.captcha-actions a {
    text-decoration: none;
    margin: 20px 3%;
}
.captcha-actions a svg {
    width: 5%;
    height: 5%;
}

/* Overlay styles */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    z-index: -999;
    opacity: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0);
    transition: background-color .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    -transition: background-color .3s ease-out;
}

.show {
    z-index: 999;
    opacity: 1;
}

.fadeIn {
    background-color: rgba(0,0,0,0.6);
}

/* Captcha card styles */
.captcha-card {
    width: 45%;
    max-width: 700px;
    margin: auto;
    box-sizing: border-box;
    background: rgb(69,90,100);
    background: rgba(69,90,100,.9);
    border-radius: 3%;
    border-bottom: 3px solid rgb(199,51,72);
    border-top: 3px solid rgb(2,164,153);
    transition: all .2s ease-in-out;
    box-shadow: 0 5px 8px 0 #333;
}

.captcha-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-3px);
  }

  20%, 80% {
    transform: translateX(4px);
  }

  30%, 50%, 70% {
    transform: translateX(-6px);
  }

  40%, 60% {
    transform: translateX(6px);
  }
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    perspective: 1000px;
}

/* Captcha content styles */
.captcha-content {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 10px;
}

/* Captcha image-container styles */
.captcha-image-container {
    width: 100%;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-around;
    align-items: baseline;
}
#first-text-token,
#second-text-token {
    border: 8px solid rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

/* Captcha input styles */
.captcha-input {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}
.captcha-input > input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    color: white;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 30px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
.captcha-input > input:focus {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

/* Captcha actions styles */
.captcha-actions {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.captcha-actions a {
    padding: 0 10px;
}

/* image captcha styles */
#image-captcha {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

#image-captcha input {
    position: absolute;
    opacity: 0;
}

#image-captcha label {
    margin: 5px;
    text-align: center;
    background-color: black;
    border: 2.5px solid grey;
}

#image-captcha label:hover {
    background-color: #F5F6F7;
    cursor: pointer;
}
#image-captcha input:checked + label {
    background-color: rgba(0,0,0,.9);
    box-shadow: 0px 0px 10px 2px rgb(87, 240, 0);
}

#image-captcha input:checked + label img{
    filter: grayscale(0) contrast(1.3);
}

#image-captcha label img{
    filter: grayscale(1) contrast(.5);
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
}

/* tablet styles */
@media only screen and (max-width: 960px) {
    .captcha-card {
        width: 80%;
    }
}
